<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>supermercado</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OrdersNewServlet</display-name>
    <servlet-name>OrdersNewServlet</servlet-name>
    <servlet-class>com.supermercado.servlets.OrdersNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersNewServlet</servlet-name>
    <url-pattern>/OrdersNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductsShowServlet</display-name>
    <servlet-name>ProductsShowServlet</servlet-name>
    <servlet-class>com.supermercado.servlets.ProductsShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsShowServlet</servlet-name>
    <url-pattern>/ProductsShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientsShowServlet</display-name>
    <servlet-name>ClientsShowServlet</servlet-name>
    <servlet-class>com.supermercado.servlets.ClientsShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientsShowServlet</servlet-name>
    <url-pattern>/ClientsShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoresShowServlet</display-name>
    <servlet-name>StoresShowServlet</servlet-name>
    <servlet-class>com.supermercado.servlets.StoresShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoresShowServlet</servlet-name>
    <url-pattern>/StoresShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriesShowServlet</display-name>
    <servlet-name>CategoriesShowServlet</servlet-name>
    <servlet-class>com.supermercado.servlets.CategoriesShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriesShowServlet</servlet-name>
    <url-pattern>/CategoriesShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellersShowServlet</display-name>
    <servlet-name>SellersShowServlet</servlet-name>
    <servlet-class>com.supermercado.servlets.SellersShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellersShowServlet</servlet-name>
    <url-pattern>/SellersShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProvidersShowServlet</display-name>
    <servlet-name>ProvidersShowServlet</servlet-name>
    <servlet-class>com.supermercado.servlets.ProvidersShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvidersShowServlet</servlet-name>
    <url-pattern>/ProvidersShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServlet</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>com.supermercado.servlets.categories.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/ShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewServlet</display-name>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>com.supermercado.servlets.orders.NewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewServlet</servlet-name>
    <url-pattern>/NewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.supermercado.servlets.orders.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clientsController</display-name>
    <servlet-name>clientsController</servlet-name>
    <servlet-class>com.supermercado.servlets.clients.clientsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clientsController</servlet-name>
    <url-pattern>/clientsController</url-pattern>
  </servlet-mapping>
</web-app>